header {
    height: 68px;
}
/* Fin Trasversal*/

body {
    background-color: ghostwhite;
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
}

h3 {
    text-align: center;
    color: black;
    
}

h4 {
    font-style: oblique;
    text-decoration: overline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* todo dentro de caja*/
}

footer {
    text-align: center;
    color: black;
    background-color: yellow;
}
/* Fin Trasversal*/

/*Encabezado*/


.logo {
    width: 5%;
    float: left;
    display: block;
}

.contenedor {
    width: 95%;
    float: left;
}

/*Fin Encabezado*/

/*Login*/

.container {
    padding-top: 10px;
    width: 100%;
    /*max-width: 300px;*/
    margin: 0 auto;
    background-color: ghostwhite;
    height: 100%;
}

#signup {
    margin-top: 100px; /*espacio debajo*/
    padding: 5px 25px 25px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    width: 350px;
    height: 100%;
    border-radius: 8px; /*verrrr*/
    margin: 0 auto;
}

.inputs {
    padding-left: 50px;
}

#Login_ {
    width: 300px;
}
/*Fin Login*/
/*Docente Home*/
.container2 {
    padding-top: 10px;
    width: 100%;
    /*max-width: 300px;*/
    margin: 0 auto;
    background-color: ghostwhite;
    height: 100%;
    margin-bottom: 30px;
}

div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 22%;
    background-color: white;
    margin-top: 30px;
}


    div.gallery img {
        width: 150px;
        height: auto;
        padding: 5px 5px 5px 5px;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }

div.desc {
    padding: 15px;
    text-align: center;
    text-shadow: inherit;
    width:80%;
}

.text {
    margin: 40px 20px 40px 20px;
    padding-left: 40px;
}


/* Fin Docente Home*/


/* Mantenedor Usuarios*/

#usuarios {
    margin-top: 100px; /*espacio debajo*/
    margin: auto; /*espacio debajo*/
    padding: 5px 25px 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    display: table;
    position: center;
    width: 63%;
    height: 100%;
    border-radius: 8px; /*verrrr*/
    margin-bottom: 40px;
}

.boton {
    float: left;
    width: 48%;
    padding-left: 21px;
}


/* Fin Mantenedor Usuarios*/

/*Mantenedor Insumos*/

.tabla {
    display: block;
}

#GridInsumos {
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    color: black;
    position: center;
    width: 80%;
    text-align: center;
    height: 100%;
    padding: 30px 30px 30px 30px;
}

#opc {
    margin-left: 47px;
}

#text-inside {
    padding-left: 40px;
    margin-left: 50px;
}

.crear {
    width: 80%;
    background-color: khaki;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#TextBox1, idInsumo {
    position: center;
    Height: 20px;
    Width: 300px;
}

table {
    margin-bottom: 15px;
}

#CreaInsumo {
    margin-left: 220px;
}

#ModificaInsumo {
    margin-left: 220px;
}

#ActualizaCantidad {
    margin-left: 220px;
}

/*#tablaCrear, td {
    padding-top: 500px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align: left;
    height: 50px;
    width: 15px;
}*/

.GridInsumos {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}
.GridUsuarios {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: #ff8000;
        font-family: Arial;
        color: #fff;
        text-align: left;
    }

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.mydatagrid a /** FOR THE PAGING ICONS  **/ {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/ {
        background-color: #000;
        color: #fff;
    }

.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/ {
    background-color: #c9c9c9;
    color: #000;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}


.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}


/*Fin Mantenedor Insumos*/

/*Selección perfil*/

div.gallery2 {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 43%;
    background-color: white;
    margin-top: 30px;
}


    div.gallery2 img {
        width: 150px;
        height: 150px;
        padding: 5px 5px 5px 5px;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }

div.desc {
    padding: 15px;
    text-align: center;
    text-shadow: inherit;
}


/*Fin Selección perfil*/

/*Cambio contraseña*/

.contra {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
    padding-left: 180px;
    padding-top: 20px;
}

#CambioContra {
    margin-left: 140px;
}

/*Fin Cambio contraseña*/

/*Admin Home*/

div.gallery3 {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    background-color: white;
    margin-top: 30px;
}


    div.gallery3 img {
        width: 150px;
        height: 150px;
        padding: 5px 5px 5px 5px;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
    }

div.desc {
    padding: 15px;
    text-align: center;
    text-shadow: inherit;
}


/*Fin Admin Home*/

header {
    height: 68px;
}

/*MAntenedor Usuario*/
.Usuarios{
    margin: auto;
    padding: 40px 40px 40px 40px;
}

.mv {
    width: 70%;
    margin: auto;
    padding: 40px 40px 40px 40px;
   
}

.Minsu {
    width: 80%;
    margin: auto;
    padding: 20px 40px 40px 40px;
}

.btGrisNegrita {
    background-color: #666666;
    color: #FFFFFF;
    font-size: 11px;
    border: 1px solid #333333;
    /* margin-left: 300%;*/
    font-size: 2.75rem;
    font-weight: 700;
}
.but{
    margin-left: 200px;
}

.but2 {
    margin-left: 260px;
}

.but3 {
    margin-left: -60px;
}

.but4 {
    margin-left: 220px;
}

.users{
    width: 80%;
    padding: 10px 10px 10px 40px;
}

.users2 {
    width: 80%;
    padding: 10px 10px 10px 20px;
}


/*Fin MAtenedor Usuarios*/